.wrapper,
.wrapper__placeholder {
  @apply bg-dark-800/80 relative backdrop-blur-[80px] p-2 rounded-lg pb-6 h-fit 
}



// Placeholder
.wrapper__placeholder {
  @apply bg-dark-900;
}
.image__placeholder {
  @apply bg-dark-800 h-96;
  background-size: 900%;
  background-position: 100% 0%;
  border-radius: 0.8rem;
  position: relative;
  overflow: hidden;
}

.title__placeholder {
  @apply mt-4 ml-2 w-36 h-4 rounded-lg relative overflow-hidden;
  background: #20283e;
}

.badge__placeholder {
  @apply absolute flex p-2 items-center justify-center bg-black/20 top-7 left-7 rounded-lg w-14 h-8;

}